<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

  <test name="Registration">
    <classes>
      <class name="tests.registration.registrationClassic.RegistrationClassic"/>
      <class name="tests.registration.registrationMandatoryFields.RegistrationMandatoryFields"/>
      <class name="tests.registration.registrationComparisonFields.RegistrationComparisonFields"/>
    </classes>
  </test>

  <test name="CheckDuplicate">
    <classes>
      <class name="tests.checkDuplicate.entranceExam.CheckDuplicateAddEntranceExam"/>
      <class name="tests.checkDuplicate.specialities.CheckDuplicateSpecialities"/>
      <class name="tests.checkDuplicate.statement.CheckDuplicateStatement"/>
    </classes>
  </test>

  <test name="AdminOO">
    <classes>
      <class name="tests.adminOO.addEntranceExams.AddEntranceExams"/>
      <class name="tests.adminOO.addGroupsEntranceExams.AddGroupEntranceExams"/>
      <class name="tests.adminOO.addScoreEntranceExams.AddScoreEntranceExams"/>
      <class name="tests.adminOO.createRoleCOO.CreateRoleCOO"/>
    </classes>
  </test>

</suite>
