<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

  <test name="Smoke Test">
    <classes>
      <class name="smoke.test.Registration.RegistrationClassic"/>
      <class name="smoke.test.Registration.RegistrationMandatoryFields"/>
      <class name="smoke.test.Registration.RegistrationComparisonFields"/>
      <class name="smoke.test.CheckDuplicateSpecialties"/>
    </classes>
  </test>

</suite>